<%= stylesheet_link_tag "application" %>

<div class='post-page'>
<div class='post-head'>
  <div class='new-like'>
    <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
    <%= form.submit "Like", class: "post-like-btns"%>
  <% end %>
  </div>
  <div class='post-title'>
    <%= "#{@post.title} by #{@post.author.name}" %>
  </div>
  <div class='counters'>
    <%= "#{@post.likes_counter || 0} likes #{@post.comments_counter || 0} comments"  %>
  </div>
</div>
<div class='post-body'>
  <%= "#{@post.text}" %><br>
</div>
<div class='comments'>
<% @comments.each do |comment| %>
  <div class='comment'>
    <%= "#{comment.author.name} : #{comment.text}" %>
  </div>
<% end %>
<%= render partial: 'partials/formComments', local: { post: @post } %>
</div>
</div>